metadata/train/scannet_frame_metadata_train.json filter=lfs diff=lfs merge=lfs -text
metadata/train/scannet_metadata_train.json filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
